.nav-ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.element_nav{
    text-decoration: none;
}

.element_p{
    color: black;
}