.form {
    width: 350px;
    border-radius: 5px;
    padding-bottom: 40px;
    /* padding-left: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(192, 164, 131);
    box-shadow: 20px 10px 10px rgb(192, 164, 131);
}

.input {
    padding-left: 10px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: grey;
    border: solid 1px rgb(176, 174, 174);
}

.title {
    font-style: 20px;
    text-align: center;
    /* font-size: 30px; */
    color: black;

}


.btn {
    border: solid 2px rgb(192, 164, 131);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.btn:focus {
    border: solid blue;
}