.contact_li{
    height: 50px;
        margin-top: 15px;
        padding: 0;
        /* text-align: center;
        justify-items: center;
        justify-content: center; */
        display: flex;
        flex-direction: row;
}

.contact_title{
    margin-top: 0;
    font-size: 30px;
}

.contact_title span {
    font-style: italic;
    margin-right: 20px;
}

.contact_p{
    height: 15px;
}

.contact_btn{
    border: solid 1px white;
        background-color: rgb(255, 238, 238);
        width: 50px;
        height: 40px;
        margin-top: 0;
        border-radius: 10px;
        margin-left: 20px;
}